/* 将默认body 的margin值改为0，当内容出现滚动条则不包含margin部分 */
html, body{background-color: #e7eaed; height:100%; margin: 0 !important; font-family: Arial, Helvetica, sans-serif;}
body{
    font-size:20px; line-height: 20px;
    /* 下面四行是设定不允许双击选中 */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.icon{cursor: pointer;}
/* .icon:hover{background-color: dimgray;} */

/* 页面布局 */
.frame_page { display: flex; height:100vh; flex-direction:column; margin: 0 10;}
.frame_header { height:40px; }
.frame_content { flex:1; overflow:auto; }
.frame_footer { height: 40px; }

/* 标签tabs区域 */
.nav {min-height:30px;}
.nav>li>a {height:30px; padding-top:4px; font-size:20px;}

/* 格式化区域 */
#container{background-color:white; width:100%; height:100%; overflow-y:auto; overflow-x:auto; cursor:text; padding:0;}
#container #ln{width:50px; height: 100%; text-align: right; margin:0 5px 0 0; padding:0; float:left;}
#container #ln ul{padding-inline-start: 0; margin-block-start: 0; margin-block-end: 0;}
#container #ln ul li{list-style: none; padding:0; margin:0;}
#container #con{background-color: white; overflow-x:auto; overflow-y:hidden; padding:0;}
#container #con .ta{background-color: white; padding: 0; outline: none; overflow:hidden; border: 0;}
#container #con .ta pre{ margin:0; height:100%; overflow-y: hidden; overflow-x: auto; font-size:20px;}
#container #con .ta pre::-webkit-scrollbar{display: none;}

#frame_footer #match{display:table-cell; width:150px; text-align: right;}

/* 搜索高亮 */
.hilight{background:yellow;color:red;}

.ObjectBrace {
    color: #00AA00;
    font-weight: bold;
}

.ArrayBrace {
    color: #0033FF;
    font-weight: bold;
}

.PropertyName {
    color: #CC0000;
    font-weight: bold;
}

.String {
    color: #007777;
}

.Number {
    color: #AA00AA;
}

.Boolean {
    color: #0000FF;
}

.Function {
    color: #AA6633;
    text-decoration: italic;
}

.Null {
    color: #0000FF;
}

.Comma {
    color: #000000;
    font-weight: bold;
}

PRE.CodeContainer {
    margin-top: 0px;
    margin-bottom: 0px;
}
