/* 将默认body 的margin值改为0，当内容出现滚动条则不包含margin部分 */
html body{background-color: #e7eaed; height:100%; margin: 0 !important; font-family: Arial, Helvetica, sans-serif;}
button {height: 30px; font-size: 20px; cursor: pointer; box-shadow: 0 1px 2px rgba(0,0,0,.2); text-shadow: 0 1px 1px rgba(0,0,0,.3);}
button:hover{text-decoration: none;}
input {width: 210px; height: 25px;}

/* #app{width:100%; height: 100%;} */
/* #container{width:100%; height:100%;} */
/* #container textarea{width:100%; height:100%; background-color: white; padding: 0; outline: none; border: 0; resize: none; font-size:18px;} */
#container #ta{width:100%; height:100%; background-color: white; padding: 0; outline: none; border: 0; font-size:18px; overflow-y:auto;}
#foo{padding: 0 20px 0 20px; align-items: center;display: inline-block;}
#foo .ffItem{float: left; width: 50%;}
#foo #btnParse{width: 100px;}
#foo #btnNext{width: 30px;}
#foo #btnPre{width: 30px;}

.frame_page { display: flex; height:100vh; flex-direction:column; margin: 0 10;}
.frame_header { height:40px; }
.frame_content { flex:1; overflow:auto; }
.frame_footer { height: 60px; line-height: 60px; }

pre { margin:0; }

.Canvas {
    background-color: #ECECEC;
    color: #000000;
    border: solid 1px #CECECE;
}

.ObjectBrace {
    color: #00AA00;
    font-weight: bold;
}

.ArrayBrace {
    color: #0033FF;
    font-weight: bold;
}

.PropertyName {
    color: #CC0000;
    font-weight: bold;
}

.String {
    color: #007777;
}

.Number {
    color: #AA00AA;
}

.Boolean {
    color: #0000FF;
}

.Function {
    color: #AA6633;
    text-decoration: italic;
}

.Null {
    color: #0000FF;
}

.Comma {
    color: #000000;
    font-weight: bold;
}

PRE.CodeContainer {
    margin-top: 0px;
    margin-bottom: 0px;
}
